[submodule "robosense_lidar_module"]
	path = robosense_lidar_module
	url = https://github.com/IFRoS-ELTE/robosense_lidar_module.git
[submodule "xsens_imu_module"]
	path = xsens_imu_module
	url = https://github.com/IFRoS-ELTE/xsens_imu_module.git
[submodule "scout2_2d_slam_module"]
	path = scout2_2d_slam_module
	url = https://github.com/IFRoS-ELTE/scout2_2d_slam_module.git
	branch = ros1_initial
[submodule "exploration_module"]
	path = exploration_module
	url = https://github.com/IFRoS-ELTE/exploration_module.git
[submodule "Detection_and_Manipulation"]
	path = Detection_and_Manipulation
	url = https://github.com/IFRoS-ELTE/Detection_and_Manipulation.git
